.nw {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #98C0F4;

  .nw-infor {
    .nw-income {
      display: flex;
      padding: 7px 20px 7px 15px;
      background-color: #68A9D8;
      font-size: 30px;
      margin-top: 31px;
      font-weight: 600;
      color: #FFFFFF;

      span {
        padding-left: 42px;
      }
    }
  }

  .nw-chart {
    .nw-chart-vertical {
      flex-grow: 1;
    }
    flex: 1;
    padding-left: 42px;
    padding-right: 10px;
    display: flex;
    justify-content: right;

    .wtc-button {
      position: relative;
      right: -10px;
      top: 4px;
    }
  }

}

.exSummary {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #98C0F4;
}